.overlay__close-button{
    background-image: url(../../../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top:40px;
    margin-bottom: 268px;
    width:48px;
    min-height:48px;
}

.overlay__close-button:hover{
    background-image: url(../../../images/close_big.png);
}

@media (max-width:768px){
    .overlay__close-button{
        margin-bottom: 100px;
    }
}